html {
    box-sizing: border-box;
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}

body, header {
    margin:0;
}
main {
    margin-top: 72px;
}
nav {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    background-color: black;
    top: 0;
}


nav img {
    height: 50px;
    margin-right: 10px;
    float: left;
}
nav ul {
    text-decoration: underline;
    float: right;
    display: block;
}

