html {
    box-sizing: border-box;
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

body, header {
    margin:0;
}

/*Nav Bar Styling*/

main {
    margin-top: 72px;
}
nav {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    background-color: black;
    top: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}


nav img {
    height: 50px;
    margin-left: 10px;
    margin-right: auto;
   
}

nav ul {
    text-decoration: underline;
    display: block;
}

/* Mission Container Styling*/

div.mission.container {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
div.mission.container h2, h4 {
    background-color: black;
    margin: 0;
    width: 100%;
    
}

